body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.tableau {
	border: 10px grey ridge;
	margin: 5em;
	margin-bottom: 1em;
}

table {
	display: block;
	margin: 1em;
	border: 10px grey ridge;
	font-size: small;
	text-align: left;
	width: 55em;
}

table td {
	border: 2px grey ridge;
	padding: 1em;
}

table td h1 {
	bborder: 1px red solid;
	margin-top: 0.4em;
	margin-bottom: 0.2em;
}

table td p {
	bborder: 1px red solid;
	margin-top: 0.1em;
	margin-bottom: 0.4em;
}


table tr {
	text-align: center;
}

table td img {
	width: 100%;
	border: 2px grey ridge;
}

.lst {
	margin-right: 3em;
}

.lst p mat {
	margin-left: : 2em;
}

.lst ul li { display: inline; }

.lst ul li desc {
	margin: 2em;
	margin-bottom: 1em;	
	width: 985;
	display: block;
}

.lst ul li desc img {
	border: 10px grey ridge;
	margin: 0em;
	margin-bottom: 2em;
	width: 985;
	display: block;
}

.lst ul li desc video {
	border: 10px grey ridge;
	margin: 0em;
	margin-bottom: 2em;
	width: 985;
	display: block;
}

.lst ul li img {
	border: 10px grey ridge;
	margin: 2em;
	margin-bottom: 1em;	
	width: 450;
}

.lst ul li video {
	border: 10px grey ridge;
	margin: 2em;
	margin-bottom: 1em;	
	width: 450;
}

.lst ul li sound {
	display: inline-block;
	border: 10px grey ridge;
	margin: 2em;
	width: 440;
	padding: 10;
}

.lst ul li sound track {
	display: block;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.lst ul li sound info {
	width: 100%;
}

.lst ul li sound audio {
	width: 100%;
	margin-top: 0.5em;
}

.lst ul li lo img {
	border: none;
	margin: 1em;
	margin-top: 0.5em;
	max-width: 300;
}

.lst ul li la img {
	border: none;
	margin: 1em;
	margin-top: 0.5em;
	max-width: 100;
	max-height: 100;
}

address {
	margin: 20px;
}

#index_tile h1 {
	margin: 20px;
}


